<div class="a4" #a4Ct>
    <div class="header">
        <div class="row row-4">
            <div class="col">
                <p class="block order-name">訂單信息</p>
            </div>
            <div class="col">
                <p class="sub">
                    <span class="title">總面積</span>
                    <span class="value block">0</span>
                    <span class="unit">平方米</span>
                </p>
                <p class="sec">
                    <span class="title">平面單價</span>
                    <span class="unit">￥</span>
                    <span class="value block sensitive">0</span>
                </p>
            </div>
            <div class="col">
                <p class="sec">
                    <span class="title">參考總價</span>
                    <span class="unit">￥</span>
                    <span class="value block sensitive">{{totalPrice}}</span>
                </p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row row-4">
            <div class="col">
                <p class="block price-category">分類總價</p>
            </div>
            <div class="col">
                <p class="sub">
                    <img class="icon" src="/assets/images/Basics2.png">
                    <span class="title">總面積</span>
                    <span class="value block">0</span>
                    <span class="unit">平方米</span>
                </p>
                <p class="sec">
                    <img class="icon" src="/assets/images/Electric2.png">
                    <span class="title">平面單價</span>
                    <span class="unit">￥</span>
                    <span class="value block sensitive">0</span>
                </p>
            </div>
            <div class="col">
                <p class="sub">
                    <img class="icon" src="/assets/images/Basics2.png">
                    <span class="title">主材</span>
                    <span class="unit">￥</span>
                    <span class="value block sensitive">0</span>
                </p>
                <p class="sec">
                    <img class="icon" src="/assets/images/Other2.png">
                    <span class="title">其他</span>
                    <span class="unit">￥</span>
                    <span class="value block sensitive">0</span>
                </p>
            </div>
            <div class="col">
                <p class="sub">
                    <img class="icon" src="/assets/images/Basics2.png">
                    <span class="title">家居飾品</span>
                    <span class="unit">￥</span>
                    <span class="value block furniture-totalprice sensitive">{{totalPrice}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="card furniture">
            <div class="title" (click)='toggleFurnitureList()'>
                <div class="des">
                    <img class="icon" src="/assets/images/Ornaments.png">
                    <span>家居飾品</span>
                    <span class="price prefix">（ 總價:</span>
                    <span class="price value sensitive">{{totalPrice}}</span>
                    <span class="price postfix">）</span>
                </div>
                <div class="op">
                    <span>共</span>
                    <span class="count">{{orderDetails.length}}</span>
                    <span>項</span>
                    <div class="arrow" [class.collapse]='!showFurnitureList'></div>
                </div>
            </div>
            <div class="detail" [class.hidden]='!showFurnitureList'>
                <table id="furniture-list">
                    <thead>
                        <tr>
                            <th>圖片</th>
                            <th>産品名稱</th>
                            <!-- <th>尺寸是否更改</th> -->
                            <th>産品描述</th>
                            <th>數量</th>
                            <th class="hidden-in-bom">單價</th>
                            <th class="hidden-in-bom">總價</th>
                        </tr>
                    </thead>
                    <tbody id="furniture-list-tbody">
                        <tr *ngFor='let it of orderDetails'>
                            <td><img class="product" [src]='it.icon|serverRedirect:128'></td>
                            <td>
                                <p class="des">{{it.productName}}</p>
                            </td>
                            <!-- <td>
                                <p class="des">無</p>
                            </td> -->
                            <td>
                                <p class="des">{{it.productDescription?(it.productDescription.length>25?it.productDescription.substring(0,
                                    25)+'...':it.productDescription):'無'}}</p>
                            </td>
                            <td>
                                <p class="des">{{it.num}}</p>
                            </td>
                            <td class="hidden-in-bom">
                                <p class="des">{{it.unitPrice}}</p>
                            </td>
                            <td class="hidden-in-bom">
                                <p class="des">{{it.totalPrice}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <div id='hidden-area' style="display:none;">

        </div>
        <div class="op">
            <button id="btnPrintBOM" (click)='printBOM()'>打印材料單</button>
            <button id="btnPrintBILL" (click)='printBILL()'>打印報價單</button>
            <button id="btnPrintBOM" (click)='exportExcel()' [disabled]='!enableExportExcel'>導出表格</button>
        </div>
    </div>
</div>