<div class="container">
    <div class="wrapper"  *ngIf='showDialog'>
        <div class="dialog">
            <div class="header">
                <div class="logo-container">
                    <img src="/assets/images/morejee.png">
                </div>
                <p>分享文件</p>
            </div>
            <div class="content">
                <p class="msg" *ngIf='!needPwd'>对不起，您访问的资源已过期或不存在！</p>
                <div class="pwd" *ngIf='needPwd'>
                    <input type="password" class="ipt" placeholder="请输入查看密码" [(ngModel)]='password'
                        autocomplete="new-password">
                    <button class="view" (click)='view()' [class.disable]='!password'>查看</button>
                    <p class="err-pwd" *ngIf='errpassword'>密码输入有误！</p>
                </div>
            </div>
        </div>
    </div>
    <iframe class="ifrm" *ngIf='panoramaUrl' [src]="panoramaUrl" frameborder="0" scrolling='no'></iframe>
</div>