<div class="page">
  <p class="title">魔集后台管理辅助应用</p>
  <a href="/assets/app-config.json" target="_blank">1. 查看应用的配置信息</a>
  <a href="/dmz-hd/share?id=G6U1MYEZAA66AE" target="_blank">2. 查看分享文件全景图</a>
  <a href="/dmz-oms/order-viewer?order=07C5KXE1JY6JE7" target="_blank">3. 查看订单预览</a>
  <a href="/dmz-oms/order-detail?order=07C5KXE1JY6JE7" target="_blank">4. 查看订单详情</a>
  <a href="/dmz-oms/member-invite?u=8WUKG1959M3Q60" target="_blank">5. 查看会员邀请</a>
  <a href="/dmz-oms/invite-card" target="_blank">6.会员邀请函制作</a>
  <a href="/app-tool/qrcode?size=250&content=https:%2F%2Fwww.baidu.com%2F" target="_blank">7.二维码生成器</a>
</div>